#Installation Wordpress
/wp-cms/*

#Contenus non versionnés
/wp-content/uploads/
/wp-content/plugins/*
!/wp-content/plugins/wp-api-2.0-beta10


#Configuration
/wp-config.php

#Others
wp-content/backup-a454f/
wp-content/themes/Music/
wp-content/themes/twentyeleven/
wp-content/themes/twentyten/

